#Client
/client/node_modules/
/client/.gitignore/

# dependencies
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/.env

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*


#Server
/server/node_modules/
/server/config/
/server/package-lock.json


#Auth
/auth/node_modules/
/auth/config/
/auth/package-lock.json

#Users
/users/node_modules/
/users/config/
/users/package-lock.json

#Movies
/movies/node_modules/
/movies/config/
/movies/package-lock.json

#Buffer
/buffer/node_modules/
/buffer/config/
/buffer/package-lock.json