.account__main{
    @extend %page;
    flex-direction: column;
    overflow-y: auto;
    
}

.menu__container{
    display: flex;
    flex-direction: column;
   button{
       width:100%;
       margin: 0.5rem 0;
   }     
}