.login-page {
  @extend %page;
  }
  
  .login-page__form {
    width: 40%;
    border: 2px solid $myBlue;
    border-radius: 5px;
    margin: 2rem;
    padding: 1rem;
    h3 {
        text-align: center;
        color: $myBlue;
      }
  }
  
  .login-form {
 
  margin: 0;
    input {
      display: block;
      width: 100%;
      padding: 0.5rem;
      border: 1px solid $myBlue;
      margin-top: 1rem;
      border-radius: 5px;
  
      &:focus {
        outline: none;
      }
    }

    button {
        display: block;
        padding: 0.5rem;
        background: $myBlue;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    
        &:disabled {
          background: #ccc;
          cursor: not-allowed;
        }
 
    }


}

.input-invalid {
  border: 1px solid $myRed !important;
}

.invalid-message {
    color: $myRed !important;
    font-size: 0.75rem;
  }
  
  .login-form__nav {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  
    div {
      font-size: 0.75rem;
      align-self: flex-end;
      text-decoration: underline;
      color: $myBlue;
    }
  }

  .login-form__nav{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    div{
      font-size: 0.75rem;
      align-self: flex-end;
      text-decoration: underline;
      color: $myBlue;
    }
  }

  .login-or-subscribe{
    cursor: pointer;
  }

  .error-message{
    color: $myRed !important;
    background: #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
  }


  @media only screen and (max-width: 820px) {

    .login-page__form{
      min-width:95%;
      height: calc(100vh - 5rem);
      padding: 0.25rem;
      margin: 0;
      overflow-y: scroll;
    }
.login-form{
  height: 100%;

  h3{
    margin:0.5rem;
  }
  input{
    margin-top: 0.5rem;
  }
  button{
    min-width: 100%;
    padding: 0.25rem;
  }
}
.login-form__nav{
  flex-direction: column;

}
  }

  @media only screen and (max-height: 460px) {

    .login-page__form{
      height: calc(100vh - 3rem);
    }
  }